.game {
  position: relative;
}

.card {
  position: absolute;
  background-color: #ffa;
  outline: 1px solid #cc8;
  transition: transform 0.5s;
}

.location {
  position: absolute;
  background-color: lightBlue;
  outline: 1px solid blue;
}

tspan {
  fill: purple !important;
}

text:before {
  content: 'Ho' !important;
}

#path4517 {
  fill: green !important;
}
